source "C:\Program Files (x86)\Microsoft SDKs\NuGetPackages\"
source https://www.myget.org/F/eto/
source https://api.nuget.org/v3/index.json
framework: >= net45, >= netstandard20
nuget FParsec 1.0.2
nuget FParsec-Pipes 0.4.0
nuget FSharp.Core 4.2.1
nuget FsPickler 3.2.0
nuget FsUnit 3.0.0
nuget LicenseToCIL 0.3.0
nuget Npgsql 3.2.5
nuget NUnit 3.6.0
nuget Rezoom 0.4.2
nuget System.Data.SQLite.Core 1.0.104.0
nuget System.Threading.Tasks.Extensions 4.3.0
nuget System.ValueTuple 4.3.1
nuget System.Configuration.ConfigurationManager # will be needed for netstandard support (https://apisof.net/catalog/System.Configuration.ConnectionStringSettings)