<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="SQLFiddle"
         providerName="Microsoft.Data.SqlClient"
         connectionString="Data Source=.\SQLEXPRESS;Integrated Security=SSPI;Initial Catalog=SQLFiddle;TrustServerCertificate=true" />
  </connectionStrings>
</configuration>
