<div>
    <div id="navbar">
        Hello, world.
    </div>
    <div id="footer">
        &copy; 2017 by Robert Peele
    </div>
    <div id="model-editor"></div>
    <div id="command-editor"></div>
    <div id="typechecker-output"></div>
</div>
@section scripts {
    <script type="text/javascript">
        window.require = function () { };
    </script>
    @Scripts.Render("~/bundles/ace")
    <script type="text/javascript">
        $(document).ready(function () {
            var modelEditor = ace.edit('model-editor');
            var modelSession = modelEditor.getSession();
            modelSession.setMode('ace/mode/sql');

            var commandEditor = ace.edit('command-editor');
            var commandSession = commandEditor.getSession();
            commandSession.setMode('ace/mode/sql');
            var removeMarker = function () { };
            var onTypeChecked = function (data) {
                $('#typechecker-output').text(JSON.stringify(data));
                var cases = {
                    FiddleInvalid: function () {
                        var err = data.fields[0];
                        var session = ({ ModelError: modelSession, CommandError: commandSession })[err.type.case];
                        var row = 0;
                        var col = 0;
                        session.setAnnotations([{ row: row, column: col, text: err.message }]);
                        removeMarker();
                        var markerId = session.addMarker(session.getWordRange(row, 1), 'error-marker', 'fullLine');
                        removeMarker = function () {
                            session.removeMarker(markerId);
                        };
                    },
                    FiddleValid: function () {
                        removeMarker();
                        modelSession.setAnnotations([]);
                        commandSession.setAnnotations([]);
                    }
                };
                cases[data.case]();
            };

            var check = function () {
                var json = JSON.stringify({
                    backend: { case: "SQLiteFiddle" },
                    model: modelEditor.getValue(),
                    command: commandEditor.getValue(),
                    valid: false,
                });
                $.ajax({
                    type: 'POST',
                    url: '/api/check',
                    data: json,
                    dataType: 'json',
                    contentType: 'application/json;charset=utf-8',
                    success: function (data) {
                        onTypeChecked(data);
                        $('#typechecker-output').text(JSON.stringify(data));
                    },
                    failure: function (err) {
                        console.log(JSON.stringify(err));
                    },
                })
            };

            modelSession.on('change', check);
            commandSession.on('change', check);
        });
    </script>
}