<div>
    <div id="navbar">
        Hello, world.
    </div>
    <div id="footer">
        &copy; 2017 by Robert Peele
    </div>
    <div id="model-editor"></div>
    <div id="command-editor"></div>
    <div id="typechecker-output"></div>
</div>
@section scripts {
    @Scripts.Render("~/bundles/ace")
    <script type="text/javascript">
        $(document).ready(function () {
            var modelEditor = ace.edit('model-editor');
            var modelSession = modelEditor.getSession();
            modelSession.setMode('ace/mode/sql');

            var commandEditor = ace.edit('command-editor');
            var commandSession = commandEditor.getSession();
            commandSession.setMode('ace/mode/sql');
            var check = function () {
                var json = JSON.stringify({
                    backend: { case: "SQLiteFiddle" },
                    model: modelEditor.getValue(),
                    command: commandEditor.getValue(),
                    valid: false,
                });
                $.ajax({
                    type: 'POST',
                    url: '/api/check',
                    data: json,
                    dataType: 'json',
                    contentType: 'application/json;charset=utf-8',
                    success: function (data) {
                        $('#typechecker-output').text(JSON.stringify(data));
                    },
                    failure: function (err) {
                        $('#typechecker-output').text(JSON.stringify(err));
                    },
                })
            };

            modelSession.on('change', check);
            commandSession.on('change', check);
        });
    </script>
}