<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="FParsec" version="1.0.2" targetFramework="net461" />
  <package id="FParsec-Pipes" version="0.3.1.0" targetFramework="net461" />
  <package id="FSharp.Compiler.Service" version="2.0.0.6" targetFramework="net461" />
  <package id="FSharp.Formatting" version="2.14.4" targetFramework="net461" />
  <package id="FSharpVSPowerTools.Core" version="2.3.0" targetFramework="net461" />
  <package id="LicenseToCIL" version="0.2.2" targetFramework="net461" />
  <package id="Rezoom" version="0.2.1" targetFramework="net461" />
  <package id="Rezoom.SQL.Provider" version="0.1.2" targetFramework="net461" />
  <package id="System.ValueTuple" version="4.3.0" targetFramework="net461" />
</packages>